@media only screen and (max-width: 600px) {

    header {

        padding: 5%;
    }

    header aside img {

        width: 60%;
    }

    a {

        font-size: 0.3em;
        margin: 0;
    }

    aside section {
        
        flex-direction: column;
    }
    
    main section {

        flex-direction: column;
        width: 100%;
        margin-bottom: 20%;
        margin-top: 30%;
    }

    h1 {

        font-size: 2em;
    }

    main section article {

        max-width: 90%;
    }

    p {

        max-width: 100%;
        font-size: 1em;
    }

    video {

        order: -1;
        width: 100%;
        height: auto;
    }
    
    footer aside h1 {
        
        font-size: 1.2em;
    }

}
